input {
    width: 400px;
    font-size: large;
    padding : 10px;    

    /* Round corners button */
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 input.btn{
     margin-left:-16%;
     margin-top:7%;
     margin-bottom:5%;
 }
div{  
    display: block;  
    top:10%;
    left:25%;
}

div.row{
    font-family: 'Big Shoulders Display', cursive;
}

form{
    width:150%
}





.ng-valid, .ng-valid.required  {
    border-left: 10px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 10px solid #a94442; /* red */
  }