.row {
  font-family: 'Big Shoulders Display', cursive;
  width: 85%;
  padding:5%;

}

select, input {
  width: 100%;
}


.modal {
 
    display: block;
    font-family: 'Big Shoulders Display', cursive;
    z-index: 1;
    padding-top: 3%;
    padding-left: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
  
  }

  .modal-body1{
    margin-left:15%;
  }
  .modal-content {
    background-color: #fefefe;
    margin-bottom: 20%;
    padding: 5%;
    border: 3px solid #888;
    width: 35%;
    height: 85%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    animation-name: animatetop;
  }
  
  .middleText {
    font-size: 20px;
  }
 
  h2{
      text-align: center ;
  }
  ::ng-deep .mat-datepicker-content {
    background-color: white !important;
    border: 2px solid black;
  }
  .ng-valid, .ng-valid.required  {
    border-left: 10px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 10px solid #a94442; /* red */
  }

  @media only screen and (max-width: 600px) {
    
    .modal {
      display: block;
      z-index: 1;
      padding-top: 5%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.45);
      position: fixed;
    }
    .modal-content {
      
      border: 1px solid #888;
      width: 85%;
      height: max-content;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.6s;
    }
    .modal-body1 {
      position: relative;
      flex: 1 1 auto;
      padding: 1rem;
    }
    button{
      float:left;
      width:60%;
      font-weight: 300;
    }
    h3 {
      font-size: 2vmax;
    }
     h5, p {
      font-size: 2vmax;
    }

  }
  